.navbar {
    min-height: 115px;
    background-color: rgb(25,53,77);
}
    
.link-icon {
    margin-right: 0.3em;
}
    
 
    
.btn {
        
    border-right: none; /* Remove borders */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}
      
    
.barlogo{
    height:90px;
}
    
.navbar-logo {
    display: inline-block;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
    
body {
    background-color: rgb(212, 224, 235);
    }

#banner{
    background-color: blueviolet;
    height: 20em;
    text-align: center;
    color: aliceblue;
    padding: 10%;
}

.pageTitle{
    font-size: 300%;
    font-family: fantasy; 
}

#intro{
    text-align: justify;
    font-size: larger;
    padding: 3%;

}

.row{
    height: auto;
    overflow: hidden;
    margin: 5%;
    
}

/*FADE IN CODE from Fade-in Image Transition Using CSS by Christina Perricone (@hubspot) on CodePen. https://codepen.io/hubspot/pen/xxqxoOa */
.fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    object-fit: fill ; 
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    border-radius: 5px;  
  }

  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }